.text {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-style: oblique;
}

h3 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic, oblique;
    left: 145px;
    top: -10px;
    text-decoration: underline;
}

.reportagem {
    width: 400px;
    height: 372px;
    display: flex;
    position: relative;
    top: 0px;
    margin: auto;
    background-color: antiquewhite;
    max-height: fit-content;
    padding: 0px;
}

.folhas {
    position: absolute;
    top: 301px;
    left: 0px;
    height: 72px;
}

.cha {
    position: absolute;
    left: 0px;
    top: 0px;
}

.favicon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 72px;
    height: 72px;
}

.texto_noticia {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 240px;
    text-align: justify;
    left: 145px;
    top: 50px;
}